<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Elixir Web Server | Page Not Found</title>
</head>
<body>
  <main>
    <section class="not-found-section">
      <h1>Oops! This Page Doesn't Exist 🤷‍♂️</h1>
    </section>
  </main>

</body>
</html>
